<AuthorizeView>
    <Authorized>
        <a href="Auth0/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Auth0/login?redirectUri=/">Log in</a>
    </NotAuthorized>
</AuthorizeView>