<AuthorizeView>
    <Authorized>
        <li class="nav-item">
            <a class="nav-link" href="/usercalendar">My Calendar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Auth0/logout">Log out</a>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a class="nav-link" href="Auth0/login?redirectUri=/">Log in</a>
        </li>
    </NotAuthorized>
</AuthorizeView>